<!DOCTYPE html>
<html>
<head>
    <title>Redefinição de Senha</title>
</head>
<body>
    <h1>Olá {{name}}!</h1>
    <p>Recebemos uma solicitação para redefinir sua senha.</p>
    <p>Clique no link abaixo para continuar:</p>
    <a href="{{link}}">Redefinir Senha</a>
    <p>Se você não solicitou isso, por favor ignore este e-mail.</p>
</body>
</html>